<div data-role="page" data-title="Speaker Details | Evisions Conference 2012">

  <div data-role="header" data-theme="d">
        <h1>Session Details</h1>
        <a href="<%= people_path %>" data-icon="back" data-direction="reverse" class="ui-btn-left">Back</a>
  </div><!-- /header -->

	<div data-role="content" data-theme="b" id="skyline">

    <h2><%= "#{@person.first_name} #{@person.last_name}" %></h2>
    <p><%= @person.bio %></p>

		<ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="b">
      <li data-role="list-divider">Sessions</li>
			<% @sessions.each do |session| %>
      <li><%= link_to session.title, session_path(session) %></li>
			<% end %>
		</ul>		
	</div><!-- /content -->
